:root {
    --bg_color: #EED6DD;
    --subBg_color: #963636;
    --darkBg_color: #4d2c2c;
    --hoverbBg_color: #9e5656;

    --font_color: #40140F;
    --fontOnDark_color: #ffeaea;

    --lightShadow_color: #c06363;
    --shadow_color: #e49393;
    --impVar_color: #DC3F2D;
    --tempColor: #4bff04;

    --firstPlace_color: #FFDF00;
    --secondPlace_color: #C0C0C0;
    --thirdPlace_color: #CD7F32;
}


* {
    background-color: var(--bg_color);
    color: var(--font_color);
    user-select: none;
    margin: 0;
}

#navBar {
    background-color: var(--subBg_color);
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    /* justify-items: center; horizotally*/
    /*align-content: center; /* vertically */
    z-index: 10;
}

#navBottomMenu {
    position: relative;
    width: 100vw;
    height: 4vh;
    top: 0%;
    background-color: var(--darkBg_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#navBottomMenu :first-child {
    margin-left: 2%;
}

#navBottomMenu :last-child {
    margin-right: 2%;
}

.navMenuButton {
    display: flex;
    position: relative;
    background-color: var(--subBg_color);
    color: var(--fontOnDark_color);
    height: 70%;
    width: 10%;
    border-radius: 4vw;
    font-size:2vh;
    align-items: center; /* align vertically */

}

.navMenuButton:hover {
    background-color: var(--hoverbBg_color);
}

.navMenuButton:active {
    background-color: var(--bg_color);
    color: var(--font_color);
}

.navMenuButton img {
    position: absolute;
    left: 0%;
    height: 80%;
    width: 15%;
    border-radius: 100%;
}

.navMenuButton a {
    color: inherit;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    font-size: 100%;
    left: 55%;
    transform: translateX(-50%);
    font-family:'Courier New', Courier, monospace;
    font-weight:550;
    pointer-events: none;
}

#navUpperBar {
    position: relative;
    width: 100vw;
    height: 16vh;
    top: 0%;
    background-color: var(--subBg_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sportDayTimer {
    background-image: linear-gradient(to bottom, var(--darkBg_color) 80%,var(--hoverbBg_color));
    width: 23%;
    height: 80%;
    margin-left: 1%;
    border-radius: 1vw;
    display: flexbox;
}

#sportDayTimerTopic {
    background-image: linear-gradient(to top,var(--darkBg_color) ,var(--hoverbBg_color));
    height: 25%;
    border-radius: inherit;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    border-bottom: var(--darkBg_color) 0.35vh solid;
    font-size: 2vh;
    color: var(--bg_color);
}

#sportDayTimeDisplay {
    width: 100%;
    height: 77%;
    border-radius: inherit;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sportDayTimeDisplay :first-child {
    margin-left: 2%;
}

#sportDayTimeDisplay :last-child {
    margin-right: 2%;
}

.timeHolder {
    position: relative;
    background-color: transparent;
    border: 0.1vw solid var(--bg_color);
    font-size: 0.8vw;
    width: 21%;
    height: 60%;
    border-radius: 1vw;
}

.timeHolder p {
    background-color: transparent;
    color: var(--bg_color);
    text-align: center;
}

.timeHolderValue {
    font-size: 1.5vw;
    color: white !important;
    font-weight: 700;
    border-top: solid 0.1vw var(--bg_color);
}

#courseIcon {
    position: relative;
    display: block;
    height: 90%;
    width: 10%;
    right: 4%;
    background-color: transparent;
}

#courseIcon img {
    position: absolute;
    top: 0%;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    background-color: #4bff04;
}

#newsPaperSign {
    margin-right: 1%;
    width: 15%;
    height: 90%;
    background-color: var(--darkBg_color) !important;
    color: var(--fontOnDark_color) !important;
    border-radius: 1vw;
    display: flex;
    justify-items: center; /* horizotally*/
    align-content: center; /* vertically */
}

#SLDSign {
    position: relative;
    top: -12%;
    left: -6%;
    background-color: transparent;
    color: var(--impVar_color);
    rotate: -15deg;
    font-weight: 700;
    font-size: 4.5vw;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#newsPaperName {
    position: relative;
    left: 4%;
    top: 26%;
    transform: translateX(-50%);
    background-color: transparent;
    font-size: 2vw;
    font-weight: 700;
    rotate: 1deg;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: inherit;
}

#newsPaperSignSmallText {
    position: relative;
    left: -10%;
    top: 0%;
    background-color: transparent;
    font-size: 1.5vw;
    rotate: 4deg;
    color: var(--shadow_color);
}

#lowerContentBar {
    display: flex;
    position: relative;
    width: 100vw;
    height: 4vh;
    background-color: var(--subBg_color);
    font-size: 2vh;
    align-items: center;
    justify-content: space-between;
}

#lowerContentBar div {
    background-color: transparent;
    color: var(--fontOnDark_color);
}

#nameOfCreator {
    position: relative;
    right: 1%;
}

#copyRightSymbol {
    position: relative;
    left: 1%;
}

#contentSection {
    position: relative;
    display: flex;
    width: 100vw;
    height: 76vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

#newPaperLinkGrid {
    background-color: var(--shadow_color);
    position: relative;
    width: 97%;
    height: 94%;
    border-radius: 1vw;
    border: 0.5vh solid var(--subBg_color);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1vw;
    grid-row-gap: 1vw;
    box-sizing: border-box;
    padding: 1vw;
    overflow-y: scroll;
}

.newsPaperGridNode {
    position: relative;
    background-color:var(--hoverbBg_color); 
    border-radius: inherit;
    border: 0.21vw solid var(--subBg_color);
    height: 14vw;  
    width:  14vw;
}

/* width */
::-webkit-scrollbar {
    margin-right: 20vw;
    width: 1vw;
    border-radius: 40vw;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(to left,var(--subBg_color) 30%,var(--impVar_color));
  border-top-right-radius: 0.7vw;
  border-bottom-right-radius: 0.7vw;
  border-top-left-radius: 0.3vw;
  border-bottom-left-radius: 0.3vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightShadow_color);
  border-radius: 4vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hoverbBg_color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--darkBg_color);
}


::-webkit-scrollbar-button {
    display: none;
}

.newsPaperGridNodeTitle {
    position: relative;
    background-color: transparent;
    color: var(--fontOnDark_color);
    justify-self: center;
    font-size: 3vw;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.newsPaperGridNodeEdition {
    position: relative;
    background-color: transparent;
    text-align: center;
    color: var(--shadow_color);
    font-size: 1.5vw;
    border-bottom: 0.3vw dotted white;
    padding-bottom: 0.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.newsPaperGridNodeButton {
    position: absolute;
    width: 96%;
    justify-self: center;
    text-align: center;
    bottom: 2%;
    height: 20%;
    border-radius: 0.5vw;
    align-content: center;
    background-color: var(--subBg_color);
    font-size: 3vh;
    color: var(--bg_color);
    font-weight: 600;
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
}

.newsPaperGridNodeButton:hover {
    background-color: var(--shadow_color);
    color: var(--fontOnDark_color);
    transition: 0.6s;
}


.newsPaperGridNodeButton:active {
    background-color: var(--font_color);
    color: var(--fontOnDark_color);
    transition: 0.4s;
}

.newsPaperGridNodeValue {
    visibility: hidden;
    pointer-events: none;
    width: 0%;
    height: 0%;
    margin: 0;
    padding: 0;
}

#leaderBoardButton {
    position: relative;
    display: block;
    background-color: var(--subBg_color);
    height: 90%;
    width: 4vh;
    border-radius: 40vw;
    justify-items: center; /* horizotally*/
    align-content: center; /* vertically */
}

#leaderBoardButton img {
    position: absolute;
    height: 85%;
    width: 85%;
    top: 50%;
    transform: translateY(-50%);
    left: 4%;
    background-color: transparent;
}

#leaderBoardButton:hover {
    background-color: var(--hoverbBg_color);
}

#leaderBoardButton:active {
    background-color: var(--bg_color);
    color: var(--font_color);
}

#leaderboards {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.35);
    justify-items: center;
}

#leaderboardsBox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    width: 60%;
    background-color: var(--shadow_color);
    border-radius: 2vw;
    justify-items: center;
    border: solid 0.6vw var(--lightShadow_color) !important;
    border-bottom:  solid 0.6vw var(--lightShadow_color) !important;
}

#leaderboardsImportantSentence {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
    top: 0;
    width: fit-content;
    padding: 2vh;
    border-radius: 3vw;
    text-align: center;
    font-size: 3vh;
    color: var(--fontOnDark_color);
    background-color: var(--hoverbBg_color);
}

#leaderboardsImportantSentence b {
    color: inherit;
    background-color: transparent;
}

.hidden {
    display: none;
}

#leaderboardsCloseButton {
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 3vw;
    height: 3vw;
    background-color: var(--lightShadow_color);
    border-radius: 100%;
    z-index: inherit+1;
    text-align: center;
    align-content: center; /* vertically */
    font-size: 1.25vw;
    color: var(--fontOnDark_color);
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#leaderboardsCloseButton:hover {
    background-color: var(--hoverbBg_color);
}

#leaderboardsCloseButton:active {
    background-color: var(--darkBg_color);
    color: var(--impVar_color);
}

#leaderboardsLeaders {
    position: relative;
    display: flex;
    height: 80%;
    width: 100%;
    background-color: inherit;
    border-bottom: solid 0.4vh var(--hoverbBg_color);
    justify-content: space-between;
}

#leaderboardsLeaders :first-child {
    margin-left: 2vw;
}

#leaderboardsLeaders :last-child {
    margin-right: 2vw;
}

.podiumBar {
    position: relative;
    justify-items: center !important;
    bottom: 0;
    background-color: #4bff04;
    width: 29%;
    height: 30%;
    margin-top: auto;
    margin-bottom: 2vh;
    padding-top: 0;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

#firstPlace {
    background-color: var(--firstPlace_color);
    height: 70%;
    justify-items: center !important; 
}

#firstPlace img {
    position: relative;
    background-color: transparent;
    width: 90%;
    height: 25%;
    left: 50%;
    transform: translateX(-50%);
    top: -20vh;
}

#secondPlace {
    background-color: var(--secondPlace_color);
    height: 55%;
}

#thirdPlace {
    background-color: var(--thirdPlace_color);
    height: 40%;
}

.podiumBarName {
    text-align: center;
    margin: 0 !important;
    position: absolute;
    top: -4.8vh;
    font-size: 2.5vw;
    background-color: transparent;
    color: var(--fontOnDark_color);
    font-weight: 700;
}

.podiumBarPoints {
    margin: 0 !important;
    background-color: inherit;
    color: var(--font_color);
    font-size: 2vw;
}

#leaderboardsBottom {
    position: relative;
    display: flex;
    height: 10%;
    width: 100%;
    background-color: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    justify-content: space-between;
    align-items: center;
}

#leaderboardsBottom :last-child {
    margin-right: 2vw;
}

#leaderboardsBottom :first-child {
    margin-left: 2vw;
}

.followupPositions {
    background-color: var(--hoverbBg_color);
    color: var(--fontOnDark_color);
    width: 20%;
    height: 40%;
    text-align: center;
    align-content: center;
    border: solid 0.2vw var(--lightShadow_color);
    border-radius: 1vw;
    font-size: 1.5vw;
}